

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Condensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: Condensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Condensed-Light.ttf") format("truetype");
    font-weight: 600;
    font-style: Condensed;
}
@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Condensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: Condensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Condensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: Condensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Condensed-SemiBold.ttf") format("truetype");
    font-weight: 300;
    font-style: Condensed;
}


@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Expanded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: Expanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Expanded-Light.ttf") format("truetype");
    font-weight: 600;
    font-style: Expanded;
}
@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Expanded-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: Expanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Expanded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: Expanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_Expanded-SemiBold.ttf") format("truetype");
    font-weight: 300;
    font-style: Expanded;
}


@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: SemiCondensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiCondensed-Light.ttf") format("truetype");
    font-weight: 600;
    font-style: SemiCondensed;
}
@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: SemiCondensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: SemiCondensed;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiCondensed-SemiBold.ttf") format("truetype");
    font-weight: 300;
    font-style: SemiCondensed;
}


@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiExpanded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: SemiExpanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiExpanded-Light.ttf") format("truetype");
    font-weight: 600;
    font-style: SemiExpanded;
}
@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiExpanded-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: SemiExpanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiExpanded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: SemiExpanded;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka_SemiExpanded-SemiBold.ttf") format("truetype");
    font-weight: 300;
    font-style: SemiExpanded;
}


@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka-SemiBold.tt") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("../../public/fonts/Fredoka-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}